<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="WebApplication8.WebForm3" % >
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server" >
<style type="text/css" >
.auto-style12 {
    width: 1437px;
    height: 28px;
    text-align: center;
    margin-left: 227px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.auto-style13 {
    width: 78%;
    height: 53px;
    margin-left: 227px;
}

.auto-style15 {
    width: 612px;
    height: 23px;
    text-align: right;
    background-color: #FEFFFF;
}

.auto-style16 {
    text-align: left;
    height: 23px;
    background-color: #FEFFFF;
}

.auto-style17 {
    height: 23px;
    background-color: #FEFFFF;
}

.auto-style18 {
    width: 1434px;
    height: 43px;
    text-align: center;
    margin-left: 227px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FEFFFF;
}

.auto-style19 {
    margin-top: 10px;
    background-color: #FEFFFF;
}

.auto-style20 {
    width: 1434px;
    height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 226px;
    margin-top: 1px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
}

.auto-style21 {
    width: 1434px;
    height: 28px;
    text-align: center;
    color: #000000;
    margin-left: 226px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
}

.auto-style22 {
    width: 1434px;
    height: 53px;
    margin-left: 226px;
    margin-top: 0px;
}

.auto-style23 {
    color: #FF0000;
}
