<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f90dbf0d-c194-4f75-a954-8d0b3f2c9ddc/resourcegroups/group/providers/Microsoft.Web/sites/PetAPuppyHelpDesk20181215015755</ResourceId>
    <ResourceGroup>group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://petapuppyhelpdesk20181215015755.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>petapuppyhelpdesk20181215015755.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PetAPuppyHelpDesk20181215015755</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PetAPuppyHelpDesk20181215015755</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PetAPuppy" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:petapuppyhelpdesk20181215015755dbserver.database.windows.net,1433;Initial Catalog=PetAPuppy;Persist Security Info=True;User ID=william86370;Password=Qazwsx!472;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=petapuppyhelpdesk20181215015755dbserver.database.windows.net;Initial Catalog=PetAPuppyWilliamWright;User ID=william86370;Password=Qazwsx!472;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PetAPuppy_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=petapuppyhelpdesk20181215015755dbserver.database.windows.net;Initial Catalog=PetAPuppyWilliamWright;User ID=william86370;Password=Qazwsx!472;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PetAPuppyWilliamWrightConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=petapuppyhelpdesk20181215015755dbserver.database.windows.net;Initial Catalog=PetAPuppyWilliamWright;Persist Security Info=True;User ID=william86370;Password=Qazwsx!472" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=petapuppyhelpdesk20181215015755dbserver.database.windows.net;Initial Catalog=PetAPuppyWilliamWright;Persist Security Info=True;User ID=william86370;Password=Qazwsx!472" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PetAPuppyWilliamWrightConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=petapuppyhelpdesk20181215015755dbserver.database.windows.net;Initial Catalog=PetAPuppyWilliamWright;Persist Security Info=True;User ID=william86370;Password=Qazwsx!472" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="PetAPuppyWilliamWrightConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=petapuppyhelpdesk20181215015755dbserver.database.windows.net;Initial Catalog=PetAPuppyWilliamWright;Persist Security Info=True;User ID=william86370;Password=Qazwsx!472</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PetAPuppy-Web.config Connection String">
      <ParameterValue>Data Source=tcp:petapuppyhelpdesk20181215015755dbserver.database.windows.net,1433;Initial Catalog=PetAPuppy;Persist Security Info=True;User ID=william86370;Password=Qazwsx!472;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>